.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
/.intlayer/

# package lock - remove for git to always use the latest package to automate testing
# if you are using this repo as a starter template, you can remove these lines
package-lock.json
pnpm-lock.yaml
bun.lock